body {
  margin: 0px;  height: 900px;
  width: 100%;
  max-width: 1920px;
  font-family: "Karla", sans-serif;
  color: black;
  overflow: hidden;
  margin-left: 0;
  font-size: 1em;
  background-image: url("../img/whitenoise-361x370.png");
  background-repeat: repeat; }

/* grid container */
.grid-container {
  height: 900px;
  width: 100%;
  max-width: 1920px;
  font-family: "Karla", sans-serif;
  color: black;
  overflow: hidden; }

/* grid columns */
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 25%;
  /* gutter */
  padding: 10px;
  padding-left: 0; }

.col-1 {
  width: 25%; }

.col-2 {
  width: 50%; }

.col-3 {
  width: 75%; }

.col-4 {
  width: 100%; }

.grid-container * {
  box-sizing: border-box; }

.nav {
  list-style: none;
  margin: 10px;
  background: none;
  display: block;
  float: left;
  color: black;
  width: 100%;
  height: 50px;  }
.nav a {
  text-decoration: none;
  display: block;
  padding: 1.5em;
  margin: auto;
  color: black;
  font-size: 1.2em;
  font-weight: bold; }
.nav a:hover {
  color: #6fff30; }
.nav li {
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}
.nav ul {
  margin: 10px;
  margin-left: 100px;
  padding: 0;}
.nav ul li {
  margin-right: 10px;
  border-radius: 51px 51px 51px 51px; }


.navr {
  display: block;
  float: left;
  list-style: none;
  margin: 10px;
  width: 150px;
  height: 80px; }
.navr li #d:hover {
  color: black; }

.wrap {
  background-image: url("../img/bwrap2.jpg");
  margin-top: 4%;
  width: 100%;
  height: 90%;
  display: block;
  float: left;
  border-width: 1px; }

.squish {
  display: block;
  float: left;
  float-wrap: wrap;
  margin: 80px;
  margin-top: 0px; }

.wrapban {
  background-image: url("../img/whitenoise-361x370.png");
  height: 15%;
  width: 100%;
  display: block;
  float: left;
}
.wrapban .smicons {
  display: block;
  float: left;
  margin-top: 50px; }

.card {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 10px;
  cursor: pointer;
  display: block;
  float: left;
  float-wrap: wrap;
  text-align: center;}
.card div {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1.1s ease;
  transition: opacity 1.1s ease; }
.card:hover .card_front {
  opacity: 0; }

.card2 {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 10px;
  cursor: pointer;
  display: block;
  float: left;
  float-wrap: wrap;
  text-align: center;}
.card div {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1.1s ease;
  transition: opacity 1.1s ease; }
.card:hover .card_front {
  opacity: 0; }

.card3 {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 10px;
  cursor: pointer;
  display: block;
  float: left;
  float-wrap: wrap;
  text-align: center;}
.card div {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1.1s ease;
  transition: opacity 1.1s ease; }
.card:hover .card_front {
  opacity: 0; }

.logo {
  width: 148px;
  height: 81px;
  display: block;
  float: left;}

.card_al {
  position: relative;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 50px;
  display: block;
  background-color: #ffffff;
  opacity: 0.9;
  text-align: start;
  letter-spacing: 1px; }
.card_al h1 {
  font-size: 4em; }
.card_al p {
  font-size: 1.5em; }


.card_back {
  background: #6fff30;
  box-shadow: 10px 10px 33px -4px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: block; }

.card_front {
  background: #ffffff;
  box-shadow: 10px 10px 33px -4px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: block; }

.bar {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 70px;
  background: #000000;
  line-height: 999px;
  vertical-align: top; }

@media (max-width: 1136px) and (max-width: 1024px) {
  .wrap {
    background-image: none; }

  body {
    background-color: #ffffff; } }
/* clearfix */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

/*# sourceMappingURL=ie8up.css.map */
